body {
  text-align: center;
  background-color: #2e2e2e;
  color: #d6d6d6;
}

table {
  margin: auto;
}

td {
  height: 150px;
  width: 150px;
  text-align: center;
  border: 5px solid #797979;
  font-size: 100px;
}

button {
  background-color: #797979;
  color: #d6d6d6;
  border: 1px solid #d6d6d6;
  padding: 4px;
  margin: 0px 10px;
}

button,
.scoreboard {
  border-radius: 3px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

button:hover {
  color: #b4d273;
  border-color: #b4d273;
}

div {
  margin: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.player-x,
.add-player-x {
  color: #6c99bb;
}

.player-o,
.add-player-o {
  color: #e87d3e;
}

.display {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.scoreboard {
  border: 1px solid #d6d6d6;
}

.scoreboard,
.display-left,
.display-right {
  min-width: 200px;
}